<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
      </div>
    <div class="cart">Cart({{ cart }})</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">

            <!--attribute binding-->
            <img v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <p>Suurused</p>
            <ul>
              <li v-for="size in sizes">{{ size }}</li>
            </ul>
            <p>Värvid</p>
            <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">{{ variant.color }}</div>
            <p v-show="onSale">Soodusmüük!</p>
            <p v-if="inventory > 10">Laos</p>
            <p v-else-if="inventory <= 10 &&inventory > 0">Peaaegu otsas</p>
            <p v-else>Otsas</p>
            <a v-bind:href="url">Sokid</a>
          </div>
          <div>
            <p>Tootekirjeldus: {{ productDescription }}</p>
          </div>
          <button class="button" @click="addToCart">Osta</button>
          <button class="button" @click="removeFromCart">Eemalda</button>
         
        </div>
      </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>

    <!--Mount app-->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
